
.user-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5rem;
    padding: 1rem;
  }
.user-card {

    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 0.5rem;
  
        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid #ccc;
          margin-top: 0.5rem;
        }
      }
    }
 }
  