<p>login works!</p>

<form [formGroup] = "profile" (ngSubmit)="handleSubmit()" >
    <label for="username">Email</label>
    <input type="text" formControlName="email" id="email">
    <div *ngIf="profile.get('email')?.touched && profile.get('email')?.invalid">
        <small *ngIf="profile.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="profile.get('email')?.errors?.['email']" style="color: red;">Please enter a valid email.</small>
      </div>
    <label for="password">Password</label>
    <input type="password" name="" formControlName="password"   id="password">
    <div *ngIf="profile.get('password')?.touched && profile.get('password')?.invalid">
        <small style="color: red;"  >Password is required.</small>
      </div>
    <button type="submit"  >Submit</button>
</form>
